.todo__message {
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    background-color: #d1e7dd;
    color: #0f5132;
    font-weight: bold;
    border: solid 1px #badbcc;
}

.todo__error__message {
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    background-color: #f8d7da;
    color: #842029;
    font-weight: bold;
    border: solid 1px #f5c2c7;
}

.todo__content {
    margin: 0 auto;
    padding: 30px 15px;
    width: 800px;
}

.create-form {
    margin: 0 auto;
    text-align: center;
}

.todo__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    width: 100%;
}

.todo__input input {
    padding: 10px;
    width: 500px;
    border: 1px solid #000000;
    border-radius: 3px;
    height: 40px;
    appearance: none;
}

.todo__button-submit {
    padding: 10px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-right: 15px;
}

.todo__heading {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 5px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.todo__list__row {
    background-color: blue;
    border: red solid 1px;
    display: flex;
    justify-content: space-between;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    border: green solid 1px;
}

.todo__item__button-submit {
    background-color: gold;
    display: block;
}

.todo__item__button__delete {
    background-color: aqua;
    boder: black solid 2px;
}